*{
    margin: 0;
    padding: 0;
    background-color: white;
}
.main-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.logo-div img{
    width: 13rem;


}
.logo-div{
    margin: 0.5rem;
}
.main-div-pad{
    display: flex;
    align-items: center;
    margin-left: 10px;
    border: 1px solid darkgrey;
    margin-right:10px;
    cursor: pointer;
    padding: 0px;
    box-sizing: border-box;
    display: list-item;
    list-style-type: none;
    display: inline-block;
}
.main-div-pad .sign_in {
    border: 0;
    outline: none;
    font-size: 17px;
    vertical-align: middle;
    align-items: center;
    margin: 0px;
    min-width: 90px;
    
}
.main-div-pad .sign_in b{
    font-weight: normal;
    vertical-align: middle;
}
.main-div-pad a{
    text-decoration: none;
    color: black;
    
}
.main-div-new-recipe a{
    text-decoration: none;
    color: black;
    
}
.main-a{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main-a span{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;

}

.button-add-recipe{
    padding: 0 5px;
    font-size: 17px;
    
}

.main-div-new-recipe{
    border: 1px solid darkgrey;
    cursor: pointer;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    display: inline-block;
}
.right-hlava{
    text-align: center;
}