*{
    margin: 0;
    padding: 0;
    /*background-color: white;*/
}
.main-div{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #333;

}

.logo-div img{
    width: 13rem;


}
.logo-div{
    margin: 0.5rem;
}

.right-hlava {
    display: flex;
    align-items: center;

    border-radius: 10px;
}

.main-div-pad {
    display: flex;
    align-items: center;
}

.photo {
    border-radius: 50%;
    height: 30px;
    width: 40px;
    margin-right: 5px;
    border-radius: 30px;
}
.main-a{
    display: flex;
    align-items: center;
}
.right-hlava{
    display: flex;
    justify-content: space-between;
}
.btn-success1{
    margin-right: 15px;
    padding: 6px 5px;
    border-radius: 15px;
    background-color: #6B8E23;
    border: none;
}
.btn-info1{
    margin-right: 15px;
    padding: 6px 5px;
    border-radius: 15px;
    background-color: #8f6a29;
    border: none;

}
.btn-photo{
    margin-right: 15px;
    padding: 5px;
    border-radius: 15px;
    background-color: #8f6a29;
    border: none;
    height: 35px;
    vertical-align: middle;
    display: flex;
    align-items: center;

}
span{
    color: white;
}
.btn-info1:active,
.btn-info1:focus {
    background-color: #286090;
}

.btn-photo:active,
.btn-photo:focus {
    background-color: #286090;
}

.btn-success1:active,
.btn-success1:focus {
    background-color: #286090;
}
